html,
body {
  height: 100%;
}

body {
  color: $black;
  font-family: 'Baskervville', serif;
  font-size: 28px;
  line-height: 126.6%;
}

img {
  object-fit: cover;
}

.container-fluid {
  max-width: 1950px;
  margin: 0 auto;

}


.container {
  max-width: 1624px;
  margin: 0 auto;
  padding: 0 15px;
}